.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container input {
  width: 100%;
}

.input-container button {
  margin-left: 10px; /* Platzierung des Buttons rechts neben der Suchleiste */
}
